PORT=5000
ADMIN_EMAIL=yourmail@gmail.com
WHATSAPP_CHANNEL_LINK=https://chat.whatsapp.com/ExampleInviteLink
SMTP_EMAIL=yoursmtp@gmail.com
SMTP_PASSWORD=yoursmtppassword
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
